<% if Settings.twitter == 'fashionfly' %>
<div class="twitter grey">
  <h2 class="title_block"> Twitter </h2>
  <a class="twitter-timeline" href="https://twitter.com/FashionFly_de" data-widget-id="369065896477609986">Tweets von @FashionFly_de</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<% elsif Settings.twitter == 'jihi' %>
<div class="twitter grey">
  <h2 class="title_block"> Twitter </h2>
  <a class="twitter-timeline" href="https://twitter.com/jihi_de" data-widget-id="384314695185752066">Tweets von @jihi_de</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<% else %>
<% end %>


