<div class="block">
  <div class="secondary-navigation">
      <%= render 'navigation', current_navigation: @current_navigation %>
  </div>
  <div class="content">
    <h2>Neue Auktion erstellen</h2>
    <div class="inner">
      <%= render 'form', :auction => @auction %>
    </div>
  </div>
</div>