@import "color";
.invite_grey{
    margin-top:80px;
    margin-bottom: 80px;
    background-color: $light_grey;
    padding: 20px;
    border: 1px solid darken($light_grey, 10%);
    @include border-top-radius(5px);
    @include border-bottom-radius(5px);
    @include border-left-radius(5px);
    @include border-right-radius(5px);
  p{
    font-size: 44px;
    font-weight: 100;
    text-transform: uppercase;
  }
}

#invite_box{
  padding:15px;
  border: 1px solid darken($light_grey, 10%);
  color: $font_color;
  font-size: 24px;
  width: 100%;
  margin: 10px 0px;
}

bold{
  font-weight: bold;
}
.invite_counter_box{
  float:left;
  width: 170px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: $light_grey;
  border: 1px solid darken($light_grey, 10%);
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  @include border-left-radius(5px);
  @include border-right-radius(5px);
  padding: 5px;
  .bidcounter{
    display: block;
    font-size: 28px;
    text-align: center;
    padding-top:20px;
    padding-bottom:20px;
  }
  .counter{
    display: block;
    text-align: center;    
  }
}

.checked{
  background-color: $light_green;
  color: white;
}

.meter { 
  height: 20px;  /* Can be anything */
  position: relative;
  background: $light_grey;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 10px;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
  box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
  span {
    display: block;
    height: 100%;
       -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
           -moz-border-radius-topright: 8px;
        -moz-border-radius-bottomright: 8px;
               border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        -webkit-border-top-left-radius: 20px;
     -webkit-border-bottom-left-radius: 20px;
            -moz-border-radius-topleft: 20px;
         -moz-border-radius-bottomleft: 20px;
                border-top-left-radius: 20px;
             border-bottom-left-radius: 20px;
    background-color: $light_green;
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, rgb(43,194,83)),
      color-stop(1, rgb(84,240,84))
     );
    background-image: -webkit-linear-gradient(
      center bottom,
      rgb(43,194,83) 37%,
      rgb(84,240,84) 69%
     );
    background-image: -moz-linear-gradient(
      center bottom,
      rgb(43,194,83) 37%,
      rgb(84,240,84) 69%
     );
    background-image: -ms-linear-gradient(
      center bottom,
      rgb(43,194,83) 37%,
      rgb(84,240,84) 69%
     );
    background-image: -o-linear-gradient(
      center bottom,
      rgb(43,194,83) 37%,
      rgb(84,240,84) 69%
     );
    -webkit-box-shadow: 
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    -moz-box-shadow: 
      inset 0 2px 9px  rgba(255,255,255,0.3),
      inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
  }
}