$body_background_color: #f0ece9;
$default_background_color: #fff;
$font_color: #40383b;
$menu_hoverd_background_color: #ededed;
$menu_hoverd_color: #40383b;
$menu_border_background_color: #ededed;
$light_red:#2ca1cc;
$light_grey: #f6f6f6;
$light_green: #6cd286;