<%- # encoding: UTF-8 %>
<p> Hallo <%= "#{@resource.username}" %>!, </p>

<p> Du bekommst diese Email, weil du dein Passwort zurücksetzen möchtest.</p>
<p> Um dein Passwort zurückzusetzen, klicke bitte auf den folgenden Link. </p>

<p><%= link_to 'Mein Passwort ändern', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p> Falls du dein Passwort nicht ändern möchtest, dann ignoriere bitte diese Email.</p>

<%= render 'shared/email_footer' %>
